/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *,
 *:before,
 *:after {
    box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.nav-bar-container {
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: black;
}

.nav-bar-links a {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  font-size: 17px;
}

.nav-bar-links a:hover {
  background-color: #ddd;
  color: black;
}
