/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *,
 *:before,
 *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
    margin: 0;
    background-image: url("bicycle-bridge-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.btn:active {
  transform: translateY(-1px);
}

.nav-bar-container {
    overflow: hidden;
    position: fixed;
    height: 10.8vh;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1;


}

.nav-bar-links a {
    float: center;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    font-size: 17px;
}

.nav-bar-links a:hover {
    background-color: #ddd;
    color: black;
}

.background-img {
    background: url("/bicycle-bridge-background.jpg") no-repeat center center fixed;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.home-page-local-db-sign-in{
    margin-top: 20%;
    width: 30%;
    height: 200px;
    margin-left: 35%;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    background-color: #e2e2e2;
    -webkit-box-shadow:0 0 60px white;
    -moz-box-shadow: 0 0 60px white;
    box-shadow:0 0 60px white;
    border:3px solid black;
}

.home-page-local-db-sign-in p{
    margin-top: 25%;
}

.new-user-form{
    margin-top: 15%;
    width: 20%;
    height: 300px;
    background-color: #e2e2e2;
    -webkit-box-shadow:0 0 60px white;
    -moz-box-shadow: 0 0 60px white;
    box-shadow:0 0 60px white;
    border:3px solid black;
    text-align: center;
    border-radius: 15px;
    margin-left: 39%;
}

.user-login {
    position: absolute;
    top: 16%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: rgba(105, 105, 105, 0.6);
    color: white;
    border-radius: 5px;
    padding: 1.5%;
    margin: 2vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 19.4%;
    display: inline-block;
    margin-right: 20px;
    background-color: #e5e5e5;
    margin-top: 20px;
    -webkit-box-shadow:0 0 20px white;
    -moz-box-shadow: 0 0 20px white;
    box-shadow:0 0 20px white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius:15px;
    margin-top: 10%;
    align-content: center;
    justify-content: center;
    text-align: center;
    border:3px solid black;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 19.4%;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    background-color: #e5e5e5;
    margin-top: 20px;
    -webkit-box-shadow:0 0 20px white;
    -moz-box-shadow: 0 0 20px white;
    box-shadow:0 0 20px white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius:15px;
    margin-top: 10%;
    align-content: center;
    justify-content: center;
    text-align: center;
    border:3px solid black;
}


.container {
    padding: 2px 16px;
    -webkit-box-shadow:0 0 20px white;
    -moz-box-shadow: 0 0 20px white;
    box-shadow:0 0 20px white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius:15px;
}

.user {
    text-align: right;
    color: white;
    margin-right: 2%;
}

.icon {
    margin-left: 15px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.cart-index{
    margin-top: 50px;
}

.links{
  text-align: left;

}
